name: CI-CD Tests
on:
    push:
      branches: 
          - main
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm ci
      - name: Check syntax
        run: npm run lint
      - name: verification tests
        run: npm run test

  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: JorgeLNJunior/render-deploy@v1.4.7
        with:
          service_id: ${{ secrets.SERVICE_ID }}
          api_key: ${{ secrets.API_KEY }}