name : Railway CI/CD Pipeline

on :
  push:
    branches: 
      - main
    tags:
      - 'prod*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm ci
      - name: Check syntax
        run: npm run lint
      - name: verification tests
        run: npm run test

  deploy:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - uses: devtomio/action-railway@v1.1.4
        with:
          railway_token: ${{ secrets.RAILWAY_API_KEY }}
      # ✅ Succès
      - name: Notify Discord (success)
        if: success()
        run: |
          curl -H "Content-Type: application/json" \
          -d '{
            "embeds": [{
              "title": "✅ Déploiement réussi",
              "description": "Le service a été déployé sur Railway",
              "color": 3066993
            }]
          }' \
          ${{ secrets.DISCORD_WEBHOOK }}

      # ❌ Échec
      - name: Notify Discord (failure)
        if: failure()
        run: |
          curl -H "Content-Type: application/json" \
          -d '{
            "embeds": [{
              "title": "❌ Déploiement échoué",
              "description": "Le pipeline GitHub Actions a échoué",
              "color": 15158332
            }]
          }' \
          ${{ secrets.DISCORD_WEBHOOK }}  